In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID column, 'EIN'and 'NAME'
application_df = application_df.drop(columns=["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df["APPLICATION_TYPE"].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<700].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_above_one = classification_counts[classification_counts > 1]
classification_counts_above_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [7]:

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts_above_one[classification_counts_above_one < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1458
C7000      777
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C6100        1
C2600        1
C1248        1
C1580        1
C1820        1
C1900        1
C2570        1
C1283        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 48)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 17
hidden_nodes_layer3 = 1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 560

 dense_1 (Dense)             (None, 17)                153

 dense_2 (Dense)             (None, 1)                 18

=================================================================
Total params: 731
Trainable params: 731
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=75)

Epoch 1/75
804/804 [==============================] - 8s 5ms/step - loss: 0.6082 - accuracy: 0.6864
Epoch 2/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5636 - accuracy: 0.7259
Epoch 3/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5574 - accuracy: 0.7278
Epoch 4/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5549 - accuracy: 0.7296
Epoch 5/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7297
Epoch 6/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7296
Epoch 7/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7294
Epoch 8/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7313
Epoch 9/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7319
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7312
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7308
Epoch 12/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7318
Epoch 13/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7322
Epoch 14/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7315
Epoch 15/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7334
Epoch 16/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7318
Epoch 17/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7332
Epoch 18/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7317
Epoch 19/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7326
Epoch 20/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7322
Epoch 21/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7323
Epoch 22/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7332
Epoch 23/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7330
Epoch 24/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7332
Epoch 25/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7333
Epoch 26/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7338
Epoch 27/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7327
Epoch 28/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7336
Epoch 29/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7327
Epoch 30/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7334
Epoch 31/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7337
Epoch 32/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7338
Epoch 33/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7336
Epoch 34/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7342
Epoch 35/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 36/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7338
Epoch 37/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 38/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7341
Epoch 39/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7342
Epoch 40/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7343
Epoch 41/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7346
Epoch 42/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7345
Epoch 43/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7355
Epoch 44/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 45/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 46/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7338
Epoch 47/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7336
Epoch 48/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7338
Epoch 49/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7346
Epoch 50/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 51/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7337
Epoch 52/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7343
Epoch 53/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 54/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7339
Epoch 55/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7350
Epoch 56/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 57/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7345
Epoch 58/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7338
Epoch 59/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7355
Epoch 60/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 61/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7356
Epoch 62/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7340
Epoch 63/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 64/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7353
Epoch 65/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 66/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7355
Epoch 67/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 68/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 69/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7350
Epoch 70/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7356
Epoch 71/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7357
Epoch 72/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7356
Epoch 73/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7350
Epoch 74/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7349
Epoch 75/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7346

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5523 - accuracy: 0.7266 - 490ms/epoch - 2ms/step
Loss: 0.5522975325584412, Accuracy: 0.7266472578048706

In [15]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization_1.h5')
files.download('/content/AlphabetSoupCharity_Optimization_1.h5')

In [16]:
# Fin